<a href="https://colab.research.google.com/github/rathan4172/FODS/blob/main/FODS-lab%20exp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import numpy as np

student_scores = np.array([
    [85, 90, 78, 92],
    [88, 76, 85, 80],
    [90, 92, 88, 85],
    [70, 85, 80, 78]
])

subject_averages = np.mean(student_scores, axis=0)

subject_names = ['Math', 'Science', 'English', 'History']
highest_avg_index = np.argmax(subject_averages)
highest_avg_subject = subject_names[highest_avg_index]

print("Subject Averages:", subject_averages)
print("Subject with highest average score:", highest_avg_subject)

Subject Averages: [83.25 85.75 82.75 83.75]
Subject with highest average score: Science

In [2]:
import numpy as np

sales_data = np.array([
    [200, 250, 220],
    [150, 180, 170],
    [300, 310, 305]
])
average_price = np.mean(sales_data)

print("Average price of all products sold:", average_price)

Average price of all products sold: 231.66666666666666

In [3]:
import numpy as np
house_data = np.array([
    [3, 1500, 250000],
    [5, 2200, 400000],
    [4, 1800, 320000],
    [6, 3000, 550000],
    [2, 1200, 200000]
])
filtered_houses = house_data[house_data[:, 0] > 4]
average_sale_price = np.mean(filtered_houses[:, 2])

print("Average sale price of houses with more than 4 bedrooms:", average_sale_price)

Average sale price of houses with more than 4 bedrooms: 475000.0

In [7]:
import numpy as np

sales_data = np.array([100000, 120000, 150000, 180000])

total_sales = np.sum(sales_data)

percentage_increase = ((sales_data[3] - sales_data[0]) / sales_data[0]) * 100

print("Total sales for the year:", total_sales)
print("Percentage increase from Q1 to Q4:", percentage_increase, "%")

Total sales for the year: 550000
Percentage increase from Q1 to Q4: 80.0 %

In [6]:
import numpy as np
fuel_efficiency = np.array([25, 30, 28, 35, 40, 22, 33])

average_efficiency = np.mean(fuel_efficiency)
print("Average fuel efficiency:", average_efficiency, "MPG")

model_A = fuel_efficiency[0]
model_B = fuel_efficiency[4]

percentage_improvement = ((model_B - model_A) / model_A) * 100
print("Percentage improvement from Model A to Model B:", percentage_improvement, "%")

Average fuel efficiency: 30.428571428571427 MPG
Percentage improvement from Model A to Model B: 60.0 %